<%- include('../components/header') %>
        <style>
            .input-container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .reset {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .reset:hover:enabled {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .reset:hover:disabled {
                color: #ff3860;
            }

            .enable {
                margin-left: 10px;
                color: #1ca64c;
                border: 1px solid #1ca64c;
            }

            .enable:hover {
                background-color: #1ca64c;
                color: white;
                border-color: #1ca64c;
            }

            .disable {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .disable:hover {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .input:disabled {
                background-color: #17181c;
            }

            .add {
                margin-left: 10px;
                color: #1ca64c;
                border: 1px solid #1ca64c;
            }

            .add:hover:enabled {
                background-color: #1ca64c;
                color: white;
                border-color: #1ca64c;
            }

            .add:hover:disabled {
                color: #1ca64c;
            }

            .remove {
                margin-left: 10px;
                color: #ff3860;
                border: 1px solid #ff3860;
            }

            .remove:hover:enabled {
                background-color: #ff3860;
                color: white;
                border-color: #ff3860;
            }

            .remove:hover:disabled {
                color: #ff3860;
            }

            .toggle {
                position: relative;
                top: 0px;
                right: 0px;

                width: 28px;
                height: 28px;
                font-size: 32px;

                background: transparent;
                color: #1ca64c;
                border: none;
                border-radius: 25%;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
            }
        </style>
        <section class="section">
            <div class="container">
                <h1 class="title">Level Requests (<strong class="has-text-primary">BETA</strong>)</h1>
                <hr>
                <div class="has-text-info">
                    <span class="icon">
                        <i class="subtitle has-text-info fas fa-info-circle"></i>
                    </span>
                    <span class="subtitle has-text-info">Note:</span>
                    <div style="margin-left: 30px">
                        <p>• If you have any chat restrictions applied (Followers-Only chat, Subscriber-Only chat, Slowmode and others), you must <strong style="color: #00AD03">MOD</strong> or <strong style="color: #E005B9">VIP</strong> gdreqbot</p>
                        <p style="margin-left: 10px">Type <code class="has-text-primary">/mod gdreqbot</code> or <code class="has-text-primary">/vip gdreqbot</code> in your Twitch chat to do so</p>
                        <br>
                        <p>• If you later want to remove gdreqbot from your chat, use the <strong class="has-text-info"><%= setData.prefix.value %>part</strong> command, or the button at the bottom of this page.</p>
                    </div>
                    <br>
                    <p style="margin-left: 10px">If you've read and understood, click the button below to hide this text forever (a very long time):</p>
                    <button class="button is-small has-text-info" style="margin-left: 20px; margin-top: 10px">Hide</button>
                </div>
                <hr>
                <div class="box">
                    <div>
                        <p class="subtitle">Requests: <strong class="has-text-success">ON</strong>
                            <button class="toggle toggle-requests">
                            <span class="icon">
                                <i class="fas fa-toggle-on"></i>
                            </span>
                        </button>

                        </p>
                    </div>
                </div>
                <br>
                <p class="title">Next Level</p>
                <form class="box" id="next">
                    <div>
                        <div style="float: left">
                            <p class="title is-5">Bloodbath</p>
                            <p><strong>By:</strong> Riot</p>
                            <p><strong>Requested by:</strong> GalaxyVinci05</p>
                            <p><strong>Notes:</strong> best lvl evr play rn</p>
                        </div>
                        <div class="input-container">
                            <button class="button reset" type="button">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
<%- include('../components/footer') %>
<%- include('components/sidebar') %>
