<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Authentication successful</h1>
            <hr>
            <p class="subtitle">gdreqbot has joined your chat.</p>
            <p>You can now close this page.</p>
        </div>
    </section>
<%- include('components/footer') %>
