<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Download gdreqbot</h1>
            <hr>
            <p class="subtitle is-4">Windows (x32/x64)</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.1/gdreqbot-1.0.1.Setup.exe" class="button is-success">
                <span class="icon">
                    <i class="fab fa-windows"></i>
                </span>
                <span>Download for Windows</span>
            </a>
            <br></br>
            <button href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.1/gdreqbot-1.0.1-win32-x64.zip" class="button is-success">
                <span class="icon">
                    <i class="fab fa-windows"></i>
                </span>
                <span>Download Portable</span>
            </button>
            <hr>
            <p class="subtitle is-4">macOS</p>
            <button href="/download" class="button is-success" disabled>
                <span class="icon">
                    <i class="fab fa-apple"></i>
                </span>
                <span>Download for macOS</span>
            </button>
            <hr>
            <p class="subtitle is-4">Linux (x64)</p>
            <button href="/download" class="button is-success" disabled>
                <span class="icon">
                    <i class="fab fa-linux"></i>
                </span>
                <span>Download for Linux (deb)</span>
            </button>
            <br></br>
            <button href="/download" class="button is-success" disabled>
                <span class="icon">
                    <i class="fab fa-linux"></i>
                </span>
                <span>Download Portable</span>
            </button>
            <hr>
        </div>
    </section>
<%- include('components/footer') %>
