<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">Download gdreqbot</h1>
            <hr>
            <p class="subtitle is-4">Windows (x64)</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.5/gdreqbot-1.0.5.Setup.exe" class="button is-success">
                <span class="icon">
                    <i class="fab fa-windows"></i>
                </span>
                <span>Download for Windows</span>
            </a>
            <br></br>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.5/gdreqbot-1.0.5-win32-x64.zip" class="button is-success">
                <span class="icon">
                    <i class="fab fa-windows"></i>
                </span>
                <span>Download Portable</span>
            </a>
            <hr>
            <p class="subtitle is-4">macOS (Universal)</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.5/gdreqbot-darwin-universal-1.0.5.zip" class="button is-success">
                <span class="icon">
                    <i class="fab fa-apple"></i>
                </span>
                <span>Download for macOS</span>
            </a>
            <hr>
            <p class="subtitle is-4">Linux (x64)</p>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.5/gdreqbot_1.0.5_amd64.deb" class="button is-success">
                <span class="icon">
                    <i class="fab fa-linux"></i>
                </span>
                <span>Download for Linux (deb)</span>
            </a>
            <br></br>
            <a href="https://github.com/gdreqbot/gdreqbot-client/releases/download/1.0.5/gdreqbot-1.0.5-linux-x64.tar.gz" class="button is-success">
                <span class="icon">
                    <i class="fab fa-linux"></i>
                </span>
                <span>Download Portable</span>
            </a>
            <hr>
        </div>
    </section>
<%- include('components/footer') %>
