<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">gdreqbot Update v5.0</h1>
            <p>Feb 12th, 2026</p>
            <hr>
            <ul>
                <li>
                    <p class="title is-5 has-text-primary">• Added a client application</p>
                    <p class="subtitle is-6">gdreqbot is now a desktop application. <a href="/download">Download</a> it!</p>
                </li>
                <br></br>
                <li>
                    <p class="title is-5">• Terms of Service Updates</p>
                    <p>The gdreqbot ToS have been updated.</p>
                    <p> Please read them carefully as using gdreqbot from now on results in agreeing to the updated terms: <a href="/terms-of-service">Terms of Service</a></p>
                </li>
                <br></br>
                <li>
                    <p class="title is-5">• Website Updates</p>
                    <p>• Added the <a href="/download">Download</a> page</p>
                </li>
            </ul>
            <hr>
            <p class="subtitle">You can check out the full updates history <a href="/versions">here</a>.</p>
        </div>
    </section>
<%- include('components/footer') %>
