<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">FAQ</h1>
            <hr>
            <ul>
                <li>
                    <p class="title is-5">• Something went wrong while adding gdreqbot</p>
                    <p class="subtitle is-6">Make sure the bot isn't banned or restricted in your channel</p>
                    <p>(Please do not ban gdreqbot, and instead remove it either through the dashboard, or with the !part command)</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• The bot isn't responding in chat</p>
                    <p class="subtitle is-6">If any chat restrictions are applied (sub-only, follower-only, ...) you'll need to VIP or MOD gdreqbot</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• The bot responds twice with shared chat</p>
                    <p class="subtitle is-6">If you're streaming with the <strong>Streaming Together</strong> feature and have shared chat, make sure only one of you has added the bot to their channel</p>
                </li>
            </ul>
            <hr>
            <p class="subtitle is-5">If your issue isn't covered here, please feel free to ask in the official Discord support server linked below:</p>
            <a href="https://discord.gg/gzeKZJnB2B" class="button" target="_blank">
                <span class="icon has-text-info">
                    <i class="fab fa-discord"></i>
                </span>
                <span>Discord</span>
            </a>
        </div>
    </section>
<%- include('components/footer') %>
