<%- include('components/header') %>
    <style>
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 100vh;
            background-color: #121212;

            padding-top: 20px;
        }
        .sidebar .menu {
            padding-top: 50px;
        }
        .sidebar .menu li a {
            text-decoration: none;
            padding: 10px;
        }
        .sidebar .menu li a:hover {
            background-color: #1CA64C;
        }
        .sidebar .menu-label {
            padding-left: 20px;
        }
        .content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
    
    <aside class="sidebar">
        <div class="menu">
            <p class="menu-label">Platforms</p>
            <ul class="menu-list">
                <li><a href="#">
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span><strong>Twitch</strong></span>
                </a></li>
                <!-- <li><a href="#">
                    <span class="icon">
                        <i class="fas fa-arrow-right"></i>
                    </span>
                    <span><strong>YouTube</strong></span>
                </a></li> -->
            </ul>
        </div>
    </aside>


    <div class="content">
        <section class="section">
            <div class="container">
                <h1 class="title">Dashboard</h1>
            <% if (isAuthenticated) { %>
                <hr>
                <p class="subtitle">Logged in as: <%= user.userName %></p>
                <hr>
                <form action="/" method="GET">
                    <button class="button" type="submit">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to Home</span>
                    </button>
                </form>
                <br>
                <p class="subtitle">WIP</p>
                <div class="sidenav">
                    <p>shish</p>
                </div>
            <% } else { %>
                <hr>
                <p class="subtitle">Login</p>
                <hr>
                <form action="/" method="GET">
                    <button class="button" type="submit">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to Home</span>
                    </button>
                </form>
                <br>
                <p class="subtitle">WIP</p>
                <div class="sidenav">
                    <p>shish</p>
                </div>
            <% } %>
            </div>
        </section>
    </div>
<%- include('components/footer') %>
