<%- include('components/header') %>
    <section class="section">
        <div class="container">
            <h1 class="title">gdreqbot Updates History</h1>
            <hr>
            <h1 class="title">Update v2.0</h1>
            <p>Dec 23rd, 2025</p>
            <br>
            <ul>
                <li>
                    <p class="title is-5">• Added a dashboard to manage settings and command permissions</p>
                    <p class="subtitle is-6">You can access it from the <a href="/"><strong>Home</strong></a> page, or by clicking on the button on the top right of this page.</p>
                    <p>(Note: the !set command remains available as well)</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• Added a prefix setting</p>
                    <p class="subtitle is-6">Now you can set a custom prefix to use for calling commands</p>
                </li>
                <br>
                <li>
                    <p class="title is-5">• Added a FAQ page and "News & Updates"</p>
                    <p class="subtitle is-6">If you're having an issue, the <a href="/faq"><strong>FAQ</strong></a> page is the first thing you should head to. As for this page, it will always include the changelog of the latest update, and occasional important news.</p>
                </li>
            </ul>
        </div>
    </section>
<%- include('components/footer') %>
