<!DOCTYPE html>
<html lang="en">
<body>
    <footer class="footer">
        <p style="text-align: center;">© Gdreqbot 2025 - All Rights Reserved</p>
        <p style="text-align: center;"><strong>🚧 Site in construction 🚧</strong></p>
        <br>
        <p style="text-align: center; font-size: small;">
            Made by GalaxyVinci05 with <a href="https://bulma.io" target="_blank">Bulma.io</a>
        </p>
        <p style="text-align: right;">
        <a href="https://discord.gg/vjEuE3TTVh" class="button" target="_blank">
                <span class="icon has-text-info">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span>Get support on Discord</span>
            </a>
        </p>
    </footer>
</body>
</html>
